@import url("style.css");
h2,h3 {
    background-color: blue;
    color: white;
}
h1 {
    color: blue;
}
body {
    width: 1200px;
}
img {
    border: 3px solid black;
    padding: 5px;
}

html {
    
}